/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 17px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Nav ***********/
nav {
    display: flex;
    justify-content: space-between ;
    margin-bottom: 70px;
    margin-top: 10px;
}

.logo{
    width: 72px;
    height: 22.5px;
}

.nav-elements {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.nav-elements a {
    border-top: solid #0065fc00;
    padding-top: 10px;
    margin-top: -18px;
}

.nav-elements a:hover{
    border-top: solid #0065FC;
}

/****** recherche ***********/

.recherche{
    width: 100%;
    height: 30%;
    margin-bottom: 30px;
}

.info {
    margin-bottom: 50px;
}

.lieu {
    display: flex;
    margin-bottom: 30px;
    height: 49px;
    width: 377px;
}

#barre-recherche {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0px 10px 15px;
    border-color: #f2f2f227
}

#submit-rechercher {
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color:  #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.filtres{
    display: flex;
}

.prem-titre {
    margin-top:  28px;
}

.filtre-titre {
    border: solid;
    margin-left: 10px;
    padding: 13px;
    display: flex;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.258);
}

.filtre-titre img {
    margin-right: 10px;
}

.filtre-titre:hover {
    background-color: #0065fc32;
}

.disponible {
    display: flex;
}

.disponible img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    width: 98%;
    margin-left: 1%;
}

.activites-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 27px;
}

.card-activites {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 8px;
}

.card-activites img {
    object-fit: cover;
}

.activites-card img {
    width: 100%;
    height: 380px;
    border-radius: 15px;
}

.card-activites-title {
    font-size: 16px;
    margin-left: 20px;
}

/****** Footer ***********/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-top: 10px;
}

.liste-footer {
    list-style-type: none;
    padding-left: 0px;
}

.liste-footer li {
    padding: 10px 10px 10px 0px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* more than 768 px */
@media (min-width: 768px) {

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
    }

}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Recherche ***********/
    .filtres {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .prem-titre {
        margin-right: 100%;
    }

    /****** Hébergements and populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ***********/

    .hebergements {
        width: 100%;
    }

    /****** Populaires ***********/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /****** Activités ***********/
    .activites-card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    /****** Nav ***********/

     nav {
        display: grid;
    }

    .accueil {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 25px;
    }

    .nav-elements {
        display: flex;
        justify-content: space-between;
        /* gap: 15px; */
    }

    /* .nav-elements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    } */

    /* .nav-elements a:hover{
        border-bottom: solid #0065FC;
        border-top: none;
    } */

    .nav-elements a {
        border-bottom: solid #0065fc00;
        padding-bottom: 10px;
        /* margin-bottom: -100px; */
    }
    
    .nav-elements a:hover{
        border-top: none;
        border-bottom: solid #0065FC;  
    }

    /****** Recherche ***********/

    .info {
        width: 100%;
    }

    .filtres{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .prem-titre {
        grid-column: 1/3;
    }
    

    .filtre-titre {
        font-size: 16px;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        width: 150%;
        margin-left: -16%; 
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    /****** Populaires ***********/

    .populaires {
        background-color: #F2F2F2;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    /****** Hebergements ***********/

    .hebergements {
        background-color: #0065fc00;
    }

    .hebergements-cards {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /****** Activités ***********/

    .activites-card {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /****** Footer ***********/
    footer {
        display: flex;
        flex-direction: column;
    }

}